/* 
    Foreground oval color: #1c6a38
    Background oval color: #f07e1c 
*/

body {
    padding-top: 80px;
}

#ad-carousel {
    padding-left: 0;
    padding-right: 0;
}
.carousel-item img {
    display: block;
    width: 100%;
}

.product-list img {
    width: 200px;
    height: 200px;
}

.footer {
    background-color: #f07e1c;
    font-size: 0.80em;
}
/* 
.carousel-caption {
    width: 100%;
    height: 23%;
    margin-left: -15%;
    margin-bottom: -2%;
    padding-left: 10%;
    background: linear-gradient(to bottom, rgba(125, 126, 125, 0) 0%,rgba(114, 14, 14, 0.0) 1%, rgba(14, 14, 14, 0.95) 100%);
}
 */

 .carousel-caption {
    /* background-color: rgba(0,0,0,.5); */
    background: linear-gradient(to bottom, rgba(125, 126, 125, 0) 0%, rgba(14, 14, 14, 0.30) 20%, rgba(14, 14, 14, 0.90) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
  }

  .carousel-caption p {
      font-size: 2.5em;
  }

  @media (max-width: 768px) {
      .carousel-caption p {
          font-size: 18pt;
      }
  }

  #product-header {
      font-size: 3em;
  }

  .carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
  }
  
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }
  
button.modal-trigger {
    display: none;
}

img.card {
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

img.card:hover {
    border-radius: 2%;
    transform: scale(1.1);
}

.modal-content img {
    width: 100%;
    height: auto;
}

.dropdown .dropdown-menu{
    display: block;
    opacity: 0;
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    -moz-transition:    all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition:      all 300ms ease;
    -ms-transition:     all 300ms ease;
    transition:         all 300ms ease;
}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}
/* 
.alert-row {
    display: none;
} */

.form-text {
    display: hidden;
}